beautifulsoup4
boto3
botocore
bs4
certifi
chardet
click
filelock
future
idna
jmespath
joblib
jsonlines
lxml
nltk
numpy
pandas
protobuf
python-dateutil
pytz
regex
requests
s3transfer
sacremoses
sentencepiece
six
soupsieve
tensorboardx
torch
tqdm
transformers
urllib3
